body{
    background-color: #343a40;
}

/*logowanie*/

.login-container{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 410px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #000000;
}

.login-container .text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    color:black;
    cursor: default;
}

.login-container form p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}

.login-container form input[type="text"]{
      height: 100%;
      width: 100%;
      padding-left: -10px;
      font-size: 17px;
      border: 1px solid black;
      border-radius: 5px;
}

.login-container form input[type="submit"]{
      margin: 30px 0;
      height: 45px;
      width: 100%;
      border-radius: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 900;
      font-size: 17px;
      cursor: pointer;
      background-color:#6acfca;
      color: white;
}

/*koniec logowania*/